li:hover
{
    background-color: red;
}

td:hover
{
    background-color: gray;
}

img
{
    width: 400px;
    height: 400px;
}

body
{
background-color: red;
}

.container
{
    background-color: whitesmoke;
}

.type-img, .stat-img
{
    height: 20px;
    width: 20px;
}