nav
{
    background-color: #37C8AB;
}

.jumbotron
{
    background-color: #FFCC66;
}

.button
{
    font-size: 16px;
    padding: 12px 28px;
    border: none;
    border-radius: 12px;
    background-color: #FFCC66;
}